#nav {
    float: right;
}

button {
    background-color: rgb(48, 48, 97);
    color: white;
    font-weight: 800;
}

#nav {
    margin: 10px;
    float: right;
    border-radius: 100%;
}

body {
    background: -webkit-linear-gradient(226deg, rgba(38,191,179,1) 0%, rgba(38,191,179,1) 22%, rgba(10,5,115,1) 91%, rgba(10,5,115,1) 100%);
    background-repeat: no-repeat;
}